#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,physical-layout = &physical_layout0;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <6>;
        rows = <8>;
        map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)  RC(4,5) RC(4,4) RC(4,3) RC(4,2) RC(4,1) RC(4,0)
RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)  RC(5,5) RC(5,4) RC(5,3) RC(5,2) RC(5,1) RC(5,0)
RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)  RC(6,5) RC(6,4) RC(6,3) RC(6,2) RC(6,1) RC(6,0)
                        RC(3,3) RC(3,4) RC(3,5)  RC(7,5) RC(7,4) RC(7,3)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        row-gpios
            = <&pro_micro  3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro  4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro  5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro  9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;

        col-gpios
            = <&pro_micro  8 GPIO_ACTIVE_HIGH>
            , <&pro_micro  7 GPIO_ACTIVE_HIGH>
            , <&pro_micro  6 GPIO_ACTIVE_HIGH>
            , <&pro_micro 16 GPIO_ACTIVE_HIGH>
            , <&pro_micro 14 GPIO_ACTIVE_HIGH>
            , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        ;
    };

    physical_layout0: physical_layout_0 { // First physical layout, use different naming for other layouts
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan0>; // Label of the kscan node, optional if all layouts use the same
        transform = <&default_transform>; // Label of the matrix transform for this layout
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  115      0      0     0>
            , <&key_physical_attrs 100 100  100   95      0      0     0>
            , <&key_physical_attrs 100 100  200   35    900    100   325>
            , <&key_physical_attrs 100 100  300    0   1500    170   310>
            , <&key_physical_attrs 100 100  400   25   1500    170   310>
            , <&key_physical_attrs 100 100  500   45   1500    170   310>

            , <&key_physical_attrs 100 100  770   45 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  870   25 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  970    0 (-1500)  1200   310>
            , <&key_physical_attrs 100 100 1070   35  (-900)  1250   325>
            , <&key_physical_attrs 100 100 1170   95      0      0     0>
            , <&key_physical_attrs 100 100 1270  115      0      0     0>

            , <&key_physical_attrs 100 100    0  215      0      0     0>
            , <&key_physical_attrs 100 100  100  195      0      0     0>
            , <&key_physical_attrs 100 100  200  135    900    100   325>
            , <&key_physical_attrs 100 100  300  100   1500    170   310>
            , <&key_physical_attrs 100 100  400  125   1500    170   310>
            , <&key_physical_attrs 100 100  500  145   1500    170   310>

            , <&key_physical_attrs 100 100  770  145 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  870  125 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  970  100 (-1500)  1200   310>
            , <&key_physical_attrs 100 100 1070  135  (-900)  1250   325>
            , <&key_physical_attrs 100 100 1170  195      0      0     0>
            , <&key_physical_attrs 100 100 1270  215      0      0     0>

            , <&key_physical_attrs 100 100    0  315      0      0     0>
            , <&key_physical_attrs 100 100  100  295      0      0     0>
            , <&key_physical_attrs 100 100  200  235    900    100   325>
            , <&key_physical_attrs 100 100  300  200   1500    170   310>
            , <&key_physical_attrs 100 100  400  225   1500    170   310>
            , <&key_physical_attrs 100 100  500  245   1500    170   310>

            , <&key_physical_attrs 100 100  770  245 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  870  225 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  970  200 (-1500)  1200   310>
            , <&key_physical_attrs 100 100 1070  235  (-900)  1250   325>
            , <&key_physical_attrs 100 100 1170  295      0      0     0>
            , <&key_physical_attrs 100 100 1270  315      0      0     0>

            , <&key_physical_attrs 100 100  400  355   1500    170   310>
            , <&key_physical_attrs 100 100  500  355   3100    330   400>
            , <&key_physical_attrs 100 100  600  355   4700    415   440>

            , <&key_physical_attrs 100 100  670  400 (-4700)   910   460>
            , <&key_physical_attrs 100 100  770  400 (-3100)   965   420>
            , <&key_physical_attrs 100 100  870  400 (-1500)  1025   330>
            ;
    };
};
